<div class="form-group">
  <%if @logo.image.attached? %>
  <%= image_tag @logo.image, style: "width:200px; display: block" %>
  <% end %>

  <%= f.label :image %>
  <%= f.file_field :image, class:"form-control" %>
</div>

<input type="submit" class="btn btn-info" value="submit">