<h1>Logo#index</h1>
<p>Find me in app/views/logo/index.html.erb</p>

<% @logos.each do |logo| %>
  <% if logo.image.attached? %>
    <%= image_tag logo.image, style: "width:250px; display:block" %>
  <% end %>
<% end %>
